
.dashboardContainer {
 color: var(--title);
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 1rem;
}

.dashboardContainer aside {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.dashboardContainer section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendarContainer {
  width: 100% !important;
  margin: 0.625rem 0 !important
}


